<!-- Fixed top navbar with brand as logo image tags -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" datatarget="#
			bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#home/"><i class="fa fa-home" aria-hidden="true"></i></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class=""><a href="#alumnos/">Alumnos</a></li><!-- class="active" -->
				<li class=""><a href="#profesores/">Profesores</a></li>
				<li class=""><a href="#ciclosformativos/">Ciclos formativos</a></li>
				<li class=""><a href="#asignaturas/">Asignaturas</a></li>
				<li class=""><a href="#participantes/">Participantes</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class=""><a href="#register/"><span class="glyphicon glyphicon-user"></span> Registro</a></li>
				<li class=""><a href="#login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
		</div>
	</div>
</nav>