<div class="container">
    <div class="row" ng-controller="UsuariosLogoutCtrl">
        <div class="container">
            <h3>Sesión cerrada correctamente</h3>
            <form class="form-horizontal" role="form">

                <div class="form-group">
                    <div class="col-sm-6 text-center">
                        <a class="btn btn-success" ng-href="#/login" >Volver a iniciar sesión</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
