<!-- Modal (Pop up when detail button clicked) -->
<div id="modalAlumnosForm" ng-controller="AlumnosEditCtrl" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel" ng-show="new">Nuevo alumno</h3>
                    <h3 class="modal-title" id="myModalLabel" ng-show="!new">Actualizar alumno</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nombre" class="col-sm-3 control-label">Nombre</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="nombre" placeholder="Introducir nombre" ng-model="form.nombre" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="apellidos" class="col-sm-3 control-label">Apellidos</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="apellidos" placeholder="Introducir apellidos" ng-model="form.apellidos" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dni" class="col-sm-3 control-label">DNI</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="dni" placeholder="Introducir dni" ng-model="form.dni" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fecha_nacimiento" class="col-sm-3 control-label">Fecha nacimiento</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="fecha_nacimiento" placeholder="Introducir la fecha de nacimiento" ng-model="form.fecha_nacimiento" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="email" placeholder="Introducir email" ng-model="form.email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="telefono" class="col-sm-3 control-label">Teléfono</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="telefono" placeholder="Introducir teléfono" ng-model="form.telefono" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="direccion" class="col-sm-3 control-label">Dirección</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="direccion" placeholder="Introducir dirección" ng-model="form.direccion" ></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" ng-click="submit()" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
