<div class="container">
	<h1>Proyecto de AngularJS</h1>
	<h4>Ciclos formativos impartidos en el colegio</h4>
	<hr/>

	<div ng-controller="CiclosFormativosListCtrl">

	  <!-- Carga ventanas modales de añadir, editar y eliminar alumno -->
	  <div ng-include="'ciclosformativos/views/modal/ciclosformativos_edit.html'"></div>
	  <div ng-include="'ciclosformativos/views/modal/ciclosformativos_delete.html'"></div>

	  <div class="table-responsive">
		  <table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Nivel</th>
					<th>Duración (horas)</th>
					<th>Familia</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in ciclosformativos | orderBy:'nombre' | filter:search:strict">
					<td>{{$index+1}}</td>
					<td>
							{{item.nombre + ' (' + item.referencia + ')'}}
					</td>
					<td>{{item.nivel}}</td>
					<td>{{item.duracion}}</td>
					<td>{{item.familia_profesional}}</td>
					<td>
						<a class="btn btn-sm btn-info btn-show" ng-href="#/ciclosformativos/{{item.id}}/asignaturas">
	                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
	                    </a>
	                    <button class="btn btn-sm btn-warning btn-edit" ng-click="showEdit(item.id)" data-toggle="modal" data-target="#modalCiclosFormativosForm" title="Editar">
	                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
	                    </button>
						<button class="btn btn-sm btn-danger btn-delete" ng-click="showDelete(item.id)" data-toggle="modal" data-target="#modalCiclosFormativosDelete" title="Borrar">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
			</tbody>
			<tfoot>
	            <tr>
	                <td></td>
	                <td>
	                    <input class="form-control" type="search" ng-model="search.nombre" placeholder="Buscar nombre" />
	                </td>
	                <td>
	                    <input class="form-control" type="search" ng-model="search.nivel" placeholder="Buscar nivel" />
	                </td>
	                <td>
	                    <input class="form-control" type="search" ng-model="search.duracion" placeholder="Buscar duracion" />
	                </td>
	                <td>
	                    <input class="form-control" type="search" ng-model="search.familia_profesional" placeholder="Buscar familia profesional" />
	                </td>
	                <td>
	                    <!-- <input class="form-control" type="search" ng-model="search.fecha_nacimiento" placeholder="Buscar fecha de nacimiento" /> -->
	                </td>
	                <!-- <td>
	                    <input class="form-control" type="search" ng-model="search.direccion" placeholder="Buscar dirección" />
	                </td> -->
	                <td></td>
	            </tr>
			</tfoot>
		  </table>
	  </div>
	  <button id="btn-add" class="btn btn-primary btn-sm" ng-click="showAdd()" data-toggle="modal" data-target="#modalCiclosFormativosForm">
		  Nuevo <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	  </button>

	</div>
</div>
