<div class="container" ng-controller="HomeCtrl">
    <h1>Bienvenido al ERP del IES San Clemente</h1>

	<h2>Estadísticas de la página web </h2>
	<div class="stats">
		<div class="row text-center">
			<div class="col-sm-3">
				<i class="fa fa-users fa-10 text-warning" aria-hidden="true"></i>
				<h3><a href="#alumnos/">{{estadisticas.num_usuarios}} Alumnos</a></h3>
			</div>
			<div class="col-sm-3">
				<i class="fa fa-user-circle fa-10 text-warning" aria-hidden="true"></i>
				<h3><a href="#profesores/">{{estadisticas.num_profesores}} Profesores</a></h3>
			</div>
			<div class="col-sm-3">
				<i class="fa fa-graduation-cap fa-10 text-warning" aria-hidden="true"></i>
				<h3><a href="#ciclosformativos/">{{estadisticas.num_ciclosformativos}} Ciclos formativos</a></h3>
			</div>
			<div class="col-sm-3">
				<i class="fa fa-book fa-10 text-warning" aria-hidden="true"></i>
				<h3><a href="#asignaturas/">{{estadisticas.num_asignaturas}} Asignaturas</a></h3>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<h2>Última conexión de los usuarios</h2>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Usuario</th>
					<th>Email</th>
					<th>Rol</th>
					<th class="text-center">Última conexión</th>
					<th class="text-center">¿Activo?</th>
				</tr>
			</thead>  
			<tbody>
				<tr ng-repeat="item in usuarios | orderBy:'-ultima_conexion' | filter:search:strict">
					<td>
	                    <a class="btn btn-link" ng-href="#/usuarios/{{item.id}}" >
							{{item.usuario}}
	                    </a>
					</td>
					<td>{{item.email}}</td>
					<td>{{item.rol}}</td>
					<td class="text-center">{{item.ultima_conexion}}</td>
					<td class="text-center">
						<span ng-show="{{item.activo}}" class="glyphicon glyphicon-ok-circle text-success" aria-hidden="true"></span>
						<span ng-show="{{!item.activo}}" class="glyphicon glyphicon-ban-circle text-danger" aria-hidden="true"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>