<div class="container">
	<h1>Proyecto de AngularJS</h1>
	<h4>Notas obtenidas por los alumnos en la asignatura {{detailsAsignatura.codigo + ': ' + detailsAsignatura.nombre}}</h4>
	<hr/>

	<div ng-controller="AsignaturasNotasCtrl">
	  <div class="table-responsive">
		  <table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Alumno</th>
					<th>Nota</th>
					<th>Trimestre</th>
					<th>Observaciones</th>
				</tr>
			</thead>  
			<tbody>
				<tr ng-repeat="item in notasAsignaturas | orderBy:'nombre_alumno' | filter:search:strict">
					<td>{{$index+1}}</td>
					<td>
							{{item.nombre_alumno}}
					</td>
                    <td class="text-center">{{item.nota}}</td>
                    <td class="text-center">{{item.trimestre}}</td>
                    <td>{{item.observaciones}}</td>
				</tr>
			</tbody>
		  </table>
	  </div>

	</div>
</div>